# .env.example
# Puerto para el servidor (usado en desarrollo y Docker)
PORT=3001

# URL del backend API
REACT_APP_API_URL=http://localhost:3000/api

# API Key para el backend
REACT_APP_API_KEY=tu_api_key

REACT_APP_SERVICE_URL=https://api-sandbox.co.uat.wompi.dev/v1
REACT_APP_SERVICE_PUBLIC_KEY=pub_stagtest_xxxxx

# Development Server Configuration (solo para npm start)
DANGEROUSLY_DISABLE_HOST_CHECK=true
